button {
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    padding: 14px 22px;
    margin: 8px;
    border: none;
    border-radius: 10px;

    color: white;
    background: linear-gradient(145deg, #2a2a2a, #1a1a1a);

    box-shadow:
        0 4px #000,
        0 0 10px rgba(0, 255, 255, 0.3);

    cursor: pointer;
    transition: all 0.1s ease;

    min-width: 80px;
    touch-action: manipulation;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 1px #000;
}

button:hover {
    background: linear-gradient(145deg, #00ffff, #0088ff);
    color: black;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-color: #333;
}

#layerText, #status {
    font-size: 32px;      /* デカく */
    font-weight: bold;    /* 太く */
    text-align: center;   /* 中央寄せ */
    line-height: 1.4;     /* 行間 */
}

/* UI styles →top */
#ui {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    gap: 15px;

    z-index: 10;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin-top: 20px;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#layerUp {
    background: linear-gradient(145deg, #00ffcc, #0099cc);
}

#layerDown {
    background: linear-gradient(145deg, #ff66cc, #cc0099);
}

#resetBtn {
    background: linear-gradient(145deg, #ff4444, #aa0000);
}

/* スマホ専用🔥 */
@media (max-width: 768px) {
    #ui {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: none;

        width: 100%;
        height: 40%;


    }

    button {
        font-size: 24px;
        padding: 18px 28px;
        margin: 10px;
    }
}